<br><br><br><br><br>
<div class="container">
    <div class="row">
      <div class="col-lg-12">
<p id="notice"><font color = "red"><%= notice %></p></font>

      <h1>Listing Profiles</h1>
      
      <br>
      
      <table border="1">
        <thead>
          <tr>
            <th>Name</th>
            <th colspan="2">Actions</th>
          </tr>
        </thead>
      
        
        <tbody>
          <% @profiles.each do |profile| %>
            <tr>
              <td><%= link_to profile.name, profile %></td>
              <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
              <td><%= link_to 'Delete', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
      <br>
    </div>
  </div>
</div>



