<h1>Listing notes</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Role</th>
  </tr>
 
  <% @notes.each do |note| %>
    <tr>
      <td><%= note.name %></td>
      <td><%= note.role %></td>
      <td><%= link_to 'Show', note_path(note) %></td>
      <td><%= link_to 'Delete', note_delete(note), data: { confirm: 'Are you certain you want to delete this?' } %></td>
    </tr>
  <% end %>
</table>