<!DOCTYPE html>
<html>

<br>
<br>
<br>

<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        
        <h1 class="title">Notes</h1>
        <p class="top_border">
        </p>
        
        <table class="index-table">
          <tr>
            <th> </th>
            <th>Name</th>
            <th>Role</th>
            <th>Production</th>
          </tr>
         
          <% @search_result.each do |note| %>
            <tr>
              <td><%= link_to "+", new_note_path(:id => note.id) %></td>
              <td><%= note.name %></td>
              <td><%= note.role %></td>
              <td><%= note.production %></td>
            </tr>
          <% end %>
        </table>  
      </div>
    </div>
  </div>
</body>

</html>