<p>
  <strong>Name:</strong>
  <%= @note.name %>
</p>
 
<p>
  <strong>Role:</strong>
  <%= @note.role %>
</p>

<p>
  <strong>Description:</strong>
  <%= @note.description %>
</p>

<%= link_to 'Back', nodes_path %>